*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    background-color: darkgrey;
}

.L-IMG{
    width: 100px;
}

.nav-text{
    text-align: center;
    background-color: antiquewhite;
}

.nav-list{
    display: flex;
    list-style: none;
}

li a{
    padding: 20px;
    color: black;
    background-color: aliceblue;
}