* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  background-color: rgb(255, 255, 255);
}

.Logo,
.L-IMG {
  display: flex;
  align-items: center;
  width: 80px;
}

.nav-list {
  display: flex;
  list-style: none;
}

li a {
  padding: 20px;
  color: black;
}

.button {
  padding: 10px 20px;
  background-color: #04ddb2;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
