@import url("https://fonts.googleapis.com/css2?family=Liter&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Liter", serif;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  background-color: rgb(255, 255, 255);
}

.Logo,
.L-IMG {
  display: flex;
  align-items: center;
  width: 80px;
}

.nav-list {
  display: flex;
  list-style: none;
}

li a {
  padding: 20px;
  color: black;
  font-size: 14px;
}

.button {
  padding: 10px 20px;
  background-color: #04ddb2;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

h1,
h2 {
  font-size: 3.5em;
  text-align: center;
}

h1 span {
  color: #04ddb2;
}

.button {
  font-size: 16px;
}

.title-text p {
  text-align: center;
}

.title-text{
  padding: 50px 0 0 0;
}


.M-IMG {
  width: 40em;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.video-box {
  width: 50em;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #e9edef;
  border-radius: 9px;
}

.IMG {
  position: relative;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 50%;
  cursor: pointer;
}

.play-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  --r: 5px;
  height: 40px;
  aspect-ratio: cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) left var(--r), #000 98%, #0000 101%;
  -webkit-mask: conic-gradient(
        from 60deg at calc(3 * var(--r) / 2 - 100%),
        #000 60deg,
        #0000 0
      )
      0 0 / calc(100% - 3 * var(--r) / 2) 100% no-repeat,
    radial-gradient(
      var(--r) at calc(100% - 2 * var(--r)) 50%,
      #000 98%,
      #0000 101%
    ),
    radial-gradient(var(--r) at top var(--_g)),
    radial-gradient(var(--r) at bottom var(--_g));
  clip-path: polygon(100% 50%, 0 100%, 0 0);
  background: #fff;
}

.video-play {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.text-download{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px 0;
}
